.button {
  width: 100%;
  padding: 0.5em 1em;
  background-color: $accent;
  border: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: darken($accent, 10);
    transition: 250ms ease-in-out;
  }

  &:focus {
    background-color: darken($accent, 10);
    outline: 3px solid $accent;
    outline-offset: 3px;
  }
}

@media (min-width: 600px) {
  .button {
    align-self: flex-start;
  }
}
