@import "button";

.container_cta {
  margin: 1em auto 2em auto;
  padding-top: 1em;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $base-margin;
  border-top: 4px solid #fff;
}

.container_cta__light {
  border-top: 4px solid $primary;
}

.input {
  border: 4px solid #fff;
  width: 100%;
  background-color: transparent;
  font-family: Poppins;
  font-weight: 300;
  font-style: italic;
  color: white;
  padding: 0.5em 1em;
}

.input::placeholder {
  color: white;
}

.input_dark {
  border: 4px solid $primary;
  color: $primary;
}

.input_dark::placeholder {
  color: $primary;
}

.button {
  width: 100%;
  padding: 0.5em 1em;
  background-color: $accent;
  border: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: darken($accent, 10);
}

.button:hover {
  transition: 250ms ease-in-out;
}

.input:focus {
  outline: 3px solid $accent;
  outline-offset: 3px;
}

.col {
  width: 100%;
}

@media (min-width: 600px) {
  .container_cta {
    flex-direction: row;
    align-items: flex-start;
  }

  .button {
    align-self: flex-start;
  }
}
