.container_cta {
  margin: 0 auto 2em auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.input {
  border: 4px solid #fff;
  width: 100%;
  background-color: transparent;
  font-family: Poppins;
  font-weight: 300;
  font-style: italic;
  color: white;
  padding: 0.5em 1em;
}
.input::placeholder {
  color: white;
}

.button {
  width: 100%;
  padding: 0.5em 1em;
  background-color: $accent;
  border: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: darken($accent, 10);
}

.button:hover {
  transition: all 250ms ease-in-out;
}

.input:focus,
.button:focus {
  outline: 3px solid $accent;
  outline-offset: 3px;
}

@media (min-width: 600px) {
  .container_cta {
    flex-direction: row;
  }
}
