.title a {
  color: $primary;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: $accent;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $font-size-lg;
}

@media (min-width: 800px) {
  .title {
    align-self: flex-start;
    font-size: $font-size-xl;
  }
}
