@import "variables";
@import "button";

.form_wrapper {
  width: 100%;
  margin-bottom: $base-margin;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
  margin-top: $base-margin;
}

.terms_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

.terms {
  width: 48px;
  height: 48px;
  appearance: none;
  border: 2px solid #fff;
  border-radius: 1px;
  position: relative;
}

.terms_label {
  display: flex;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.check_icon {
  font-size: $font-size-xl;
  position: absolute;
  left: 12px;
  top: 10px;
}

.checkbox_msg {
  margin: 0 5px 0 0;
}

.input_field,
.textarea {
  border: none;
  width: 100%;
  background-color: #fff;
  font-family: Poppins;
  font-weight: 400;
  color: $primary;
  padding: 0.5em 1em;

  &:focus {
    outline: 3px solid $accent;
    outline-offset: 3px;
  }
}

.label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: $font-size-sm;
  font-weight: 300;
  text-align: left;
}

.textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}
.button {
  margin-top: $base-margin;
}

.error {
  font-size: $font-size-sm;
  margin: 0;
  color: $accent;
  text-align: left;
}

.message {
  font-size: $base-font-size;
  text-align: center;
  color: $highlight;
}

.link {
  text-decoration: underline;
  &:hover {
    color: $accent;
  }
}

.light_theme {
  color: $secondary;
}

.disabled {
  opacity: 0.5;
}

@media (min-width: 600px) {
  .textarea {
    height: 180px;
  }

  .check_icon {
    font-size: $font-size-sm;
    left: 8px;
    top: 6px;
  }

  .terms {
    width: 20px;
    height: 20px;
  }
}
