@import "variables";
@import "title";
@import "nav";
@import "cta";
@import "footer";

.img_wrapper > span {
  box-shadow: $base-box-shadow;
}

.gallery_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
