@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "variables";

:root {
  --bar-before-width: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $primary;
  scroll-behavior: smooth;
  font-family: Poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (min-width: 850px) {
  body {
    font-size: $base-font-size;
  }
}
