@import "variables";
@import "nav";
@import "title";
@import "cta";
@import "footer";
@import "layout";


.main_container {
  background-color: $primary;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/background_img-main.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.img_container {
  margin: 8em auto 2em auto;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.logo {
  max-width: 100px;
}

.error {
  font-size: $font-size-sm;
  margin: 0;
  color: $accent;
  text-align: left;
}
