@import "variables";
@import "nav";
@import "title";
@import "cta";
@import "footer";
@import "layout";

.main_container {
  background-color: $primary;
  height: 95vh;
  display: flex;
  align-items: center;
  position: relative;
}

// linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))

.img_container {
  position: relative;
  max-width: 90%;
  margin-bottom: 3em;
  z-index: 10;
}

.logo {
  max-width: 100px;
}

.marek {
  max-width: 1200px;
  position: absolute;
  margin-left: -500px;
  margin-top: -250px;
  top: 45%;
  left: 50%;
  z-index: 1;
}

.band_right {
  max-width: 900px;
  top: 50%;
  right: 50%;
  position: absolute;
  z-index: 7;
}

.error {
  font-size: $font-size-sm;
  margin: 0;
  color: $accent;
  text-align: left;
}

.link {
  text-decoration: underline;
  &:hover {
    color: $accent;
  }
}

@media (min-width: 800px) {
  .main_container {
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/bg-new.webp") no-repeat center top;
    background-size: cover;
    background-color: $primary;
  }
}
