@import "variables";

.container {
  padding: 0 1rem;
}

.header {
  display: none;
}

.main {
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.cta {
  margin-bottom: 8em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: $primary;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: $font-size-sm;
}

.title {
  text-align: center;
}

.logo {
  height: 1.5em;
}
