@import "variables";
@import "title";
@import "nav";
@import "cta";
@import "footer";
@import "layout";

.container {
  text-align: left;
}

.logo_wrapper {
  position: relative;
  width: 150px;
  max-width: 100%;
  margin: -1em 0;
}

.main_text {
  text-align: left;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex_between {
  justify-content: space-between;
}

.title_light {
  color: $accent;
  line-height: 1.1;
}
// YT embed
.video_wrapper,
.img_wrapper > span {
  min-width: 100%;
  margin-bottom: $base-margin;
  box-shadow: $base-box-shadow;
}

.img_wrapper {
  margin-bottom: $base-margin;
}
.video {
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    text-align: left;
  }

  .listen_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: $base-margin;
    margin-top: 2em;
  }

  .logo_wrapper {
    margin: -1em 0;
  }

  .col {
    align-items: flex-start;
    width: 46%;
  }
}
